html,body{
  margin: 0;
  background-color: #334756;
}

input[type="text"]
{
    font-size:1em;
}

.container {
  height: 100vh;
  width: 100vw;
}

.search-container {
  text-align: center;
  margin: 2em;
}

#search-input {
  width: 40vw;
  height: 4vh;
  border-radius: 0.5em;
  background-color: #F4DFD0;
  border: none;
}

#search-button {
  cursor: pointer;
  width: 6vw;
  height: 4vh;
  font-size: 1em;
  background-color: #F4DFD0;
  border: none;
  border-radius: 0.5em;
}

.user-information {
  display: flex;
  justify-content: center;
  color:  #082032;
  font-size: 1em;
}

.user-profile {
  width: 40%;
  margin: 2em;
  text-align: center;
  border-radius: 1em;
  background-color: #F4DFD0;
}

.user-profile-info {
  text-align: left;
}

#name, #login, #email, #location, #gists {
  padding: 1em;
}

.avatar-container {
  width: 100%;
}

#avatar {
  width: 12em;
  height: 12em;
  border-radius: 50%;
}

.profile-info {
  width: 100%;
}

.user-repos {
  width: 40%;
  margin: 2em;
  text-align: center;
  border-radius: 1em;
  background-color: #F4DFD0;
}

#repos-table {
  text-align: left;
}
