.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer-form {
  background-color: grey;
  width: 15em;
}

.timer-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

input {
  width: 2em;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  width: 15em;
}
