html, body {
  width: 100vw;
  height: 100vh;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.timer-form {
  background-color: grey;
  height: 5em;
  width: 15em;
}

.timer-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.hours-input, .minutes-input, .seconds-input {
  height: 2em;
  width: 2em;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2em;
}

.timer-display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  width: 15em;
  height: 5em;
}

.timer {
  padding: 1em;
  font-size: 40px;
}
