html, body {
  width: 100vw;
  height: 100vh;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.timer-form {
  background-color: #cccccc;
  height: 10em;
  width: 25em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.timer-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.hours-input, .minutes-input, .seconds-input {
  margin: 0.2em;
  padding: 0.2em;
  height: 2em;
  width: 2em;
  text-align: center;
  border: none;
  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2em;
}

.countdown-button {
  margin: 0.3em;
  height: 3em;
  width: 10em;
  border-radius: 0.2em;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.timer-display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edebeb;
  height: 10em;
  width: 25em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.timer {
  padding: 1em;
  font-size: 40px;
}
