header {
	text-align: center;
	padding: 10px;
	font-size: 1.4em;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#add-button {
	margin: 5px;
  cursor: pointer;
}

#color-selector {
  cursor: pointer;
}

.form-container {
	margin: 10px;
	padding: 10px;
}

.notes-container {
	margin: 10px;
	padding: 10px;
	justify-content: center;
  align-items: center;
	display: flex;
	flex-wrap: wrap;
}

#note-input {
	height: 140px;
	width: 400px;
}

.note {
	width: 300px;
	height: 180px;
	margin: 5px;
	padding-right: 5px;
	overflow-wrap: break-word;
  position: relative;
  cursor: initial;
}

.note.blue {
  background-color: lightblue;
}

.note.orange {
  background-color: orange;
}

.note.green {
  background-color: lightgreen;
}

.note.pink {
  background-color: lightpink;
}

.note .edit-note {
  position: absolute;
  bottom: 0;
  right: 55px;
  margin: 2px;
  cursor: pointer;
}

.note .delete-note {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2px;
  cursor: pointer;
}

.note .edit-color-selector {
  position: absolute;
  bottom: 0;
  right: 100px;
  margin: 3px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .note {
  	width: 80%;
  }
}

@media (max-width: 450px) {
  #note-input {
  	width:  90%;
  }
}

@media (max-width: 360px) {
  .note {
  	width: 100%;
  }
}