header {
	text-align: center;
	padding: 10px;
	font-size: 1.4em;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#save-button {
	margin: 5px;
}

.form-container {
	margin: 10px;
	padding: 10px;
}

.notes-container {
	margin: 10px;
	padding: 10px;
	justify-content: center;
  align-items: center;
	display: flex;
	flex-wrap: wrap;
}

#note-input {
	height: 140px;
	width: 400px;
}

.note {
	width: 300px;
	height: 180px;
	margin: 5px;
	padding-right: 5px;
	overflow-wrap: break-word;
}

.note.blue {
  background-color: lightblue;
}

.note.orange {
  background-color: orange;
}

.note.green {
  background-color: lightgreen;
}

.note.pink {
  background-color: lightpink;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgray;
}

@media (max-width: 700px) {
  .note {
  	width: 80%;
  }
}

@media (max-width: 450px) {
  #note-input {
  	width:  90%;
  }
}

@media (max-width: 360px) {
  .note {
  	width: 100%;
  }
}