* { 
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}

.box-one {    
    padding: 0em;
    background-color: #EB5757;
    border: 0em solid #27AE60;
    margin: 0.1em;
    font-size: 50px;
}

.box-two {
    padding: 0.1em;
    background-color: #2D9CDB;
    border: 0 solid #27AE60;
    margin: 0.1em;
    font-size: 50px;
}

.box-three {
    padding: 0em;
    background-color: #36bf6b;
    border: 0em solid #27AE60;
    margin: 0.1em;
    font-size: 50px;
}