.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  margin: 4px;
}

.form-container form {
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid darkblue;
}

#error {
  visibility: hidden;
  color: red;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 14px;
}
.search-container label {
  margin-right: 1vw;
}

.table-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.table-container {
  display: flex;
  justify-content: center;
  margin: 5px;
}

#table {
  text-align: left;
}

#table thead th {
  padding-right: 18vw;
  border: 1px solid black;
}

#table td {
  border: 1px solid black;  
}

tr:nth-child(odd) {background: #f2f2f2}

#name-th {
  cursor: pointer;
}

.table tbody {
  background-color: lightgrey;
}

#no-result {
  visibility: hidden;
}
