.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  margin: 4px;
}

.form-container form {
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
}

#error {
  visibility: hidden;
  color: red;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 14px;
}
.search-container label {
  margin-right: 1vw;
}

.table-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.table-container {
  display: flex;
  justify-content: center;
}

#table {
  text-align: left;
}

#table th {
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
  padding-right: 18vw;
  border: 0.5px solid black;
}

#table td {
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border: 0.5px solid black;  
}

tr:nth-child(odd) {background: #f2f2f2}

#name-th {
  cursor: pointer;
}

#no-result {
  visibility: hidden;
}
