.heading {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.form-container form {
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.search-container label {
  margin-right: 1vw;
}

.table-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.table-container {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.table {
  text-align: left;
}

.table thead th {
  padding-right: 220px;
  border: 1px solid black;
}

.table td {
  border: 1px solid black;  
}

tr:nth-child(odd) {background: #f2f2f2}

#name-th {
  cursor: pointer;
}

.table tbody {
  background-color: lightgrey;
}
