html, body {
  width: 100vw;
  height: 100vh;
}

.notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.note {
  margin: 0.5em;
  padding: 0.5em;
  height: 8em;
  width: 20em; 
  background-color: #7a9177;
  color: black;
  border-radius: 0.2em;
}

.child-note {
  margin: 0.5em;
  padding: 0.5em;
  height: 4.5em;
  width: 20em;
  background-color: #dbf2d8;
  color: black;
  border-radius: 0.2em;
}

.note-text-area {
  width: 100%;
  height: 6.5em;
}

.child-note-text-area {
  width: 100%;
  height: 3em;
}

.add-note-button {
  margin: 2em;
  padding: 0.5em;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 0.2em;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.add-child-note-button {
  width: 1.8em;
  height: 1.8em;
  border: 1px solid black;
  border-radius: 0.2em;
  color: white;
  background-color: black;
  margin-right: 0.2em;
  cursor: pointer;
}

.delete-note-button {
  width: 1.8em;
  height: 1.8em;
  border: 1px solid black;
  border-radius: 0.2em;
  color: white;
  background-color: black;
  cursor: pointer;
}
